main{
    text-align: center;
}

main img:hover{
    background-color: #BF861B;
    border-radius: 20px;
}

.servico{
    display: inline-block;
    align-items: center;
    padding: 60px;
}

footer{
    padding-right: 3%;
}

@media only screen and (max-width:1024px){
     
       main img{
    display: inline-block;
    width: 100%;
}


    main img:hover{
        background-color: gray;
    }

    footer{
        padding-right: 0%;
    }
}
